<!DOCTYPE html>
<html>

<head>
    <title>
        Willkommen auf der DIY Seite von SpringCraft & Co.
    </title>
    <meta name="description" content="Euer Onlineshop für kreative Bastelideen und frühlingshafte DIYs">
    <meta name="viewport" content="width=device,install-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
    <link rel="stylesheet" href="../diy/diy.css">
    <link rel="stylesheet" href="../allg/allg.css">
</head>

<body>
    <div class="header">
        <header>
            <img src="../icons/Logo.png">
            <p>SpringCraft & Co.</p>
        </header>
        <nav>
            <span id="menu">&#9776;</span>
            <div class="profile_shop">
                <span id="shop_bag"><img src="../icons/shopping-bag.png" id="shop_bag_icon"></span>
                <span id="profile"><img src="../icons/account.png" id="profile_icon"></span>
            </div>
        </nav>
    </div>

    <main>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
            <a href="../index/index.html" id="home">HOME</a>
            <a href="#" id="profile">MEIN KONTO</a>
            <a href="../shop/shop.html" id="shop">SHOP</a>
            <a href="../diy/diy.html" id="diy">DIY</a>
            <a href="../contact/contact.html" id="contact">KONTAKT</a>
        </div>
        <div id="myProfileSidenav" class="profileSidenav">
            <a href="javascript:void(0)" class="closebtn" id="closeProfileBtn">&times;</a>
            <h3>Profil</h3>
            <div id="profileData">
                <a>aktuell sind Sie nicht eingeloggt.</a>
            </div>
            <button id="loginBtn">Anmelden</button>
        </div>
        <div class="login" id="login">
            <div class="loginInput">
                <h3>Anmeldung</h3>
                <a href="javascript:void(0)" class="closebtn" id="closeLoginBtn">&times;</a>
                <div class="userInput">
                    <label>Username: </label><input type="text"> <br><br>
                    <label>Password: </label><input type="password">
                </div>
                <button>anmelden</button>
            </div>
        </div>
        <div class="login" id="edit">
            <div class="editDiy">
                <h3>Anmeldung</h3>
                <a href="javascript:void(0)" class="closebtn" id="closeLoginBtn">&times;</a>
                <div class="userInput">
                    <label>Username: </label><input type="text"> <br><br>
                    <label>Password: </label><input type="password">
                </div>
                <button>anmelden</button>
            </div>
        </div>
        <div id="myShopSidenav" class="shopSidenav">
            <a href="javascript:void(0)" class="closebtn" id="closeShopBtn">&times;</a>
            <h3>Warenkorb</h3>
            <a>Es befinden sich momentan keine Produkte im Warenkorb.</a>
        </div>

        <section>
            <h1>Willkommen auf der DIY Seite von SpringCraft & Co.</h1>
            <h3>Hier findest du all unsere DIYs oder andere Bastellsets!</h3>
            <h3>Viel Spaß beim durchstöbern!</h3>
            <div class="modern-form">
                <fieldset class='float-label-field' id="lblSuche">
                    <label for="txtSuche">Suche</label>
                    <input id="txtSuche" type='text'>
                </fieldset>
                <button id="btnSuchen">Suchen</button>
            </div>
            <!--
                    Quelle der Bilder:
                        https://platzwechsel.de/
                -->
            <!-- In der class Shop werden die jeweiligen API Einträge generiert -->
            <div class="shop" id="shop-wrapper"></div>
        </section>

    </main>

    <div class="fixed" id="cookies">
        COOKIES hier akzeptieren
        <button id="cookiesbtn">weiter</button>
    </div>

    <footer id="footer">
        <div class="payments">
            <a href="https://paypal.com" class="tooltip">
                <img src="../icons/paypal.png" id="paypal">
                <span class="tooltiptext">Paypal</span>
            </a>
            <a href="https://www.klarna.com/de/" class="tooltip">
                <img src="../icons/klarna.png" id="klarna">
                <span class="tooltiptext">Klarna</span>
            </a>
            <a href="https://www.mastercard.de/de-de.html" class="tooltip">
                <img src="../icons/mastercard.png" id="mastercard">
                <span class="tooltiptext">Mastercard</span>
            </a>
            <a href="https://www.visa.de/" class="tooltip">
                <img src="../icons/visa.png" id="visa">
                <span class="tooltiptext">Visa Card</span>
            </a>
            <a href="https://www.apple.com/de/" class="tooltip">
                <img src="../icons/apple.png" id="apple">
                <span class="tooltiptext">Apple Pay</span>
            </a>
            <a href="https://pay.google.com/" class="tooltip">
                <img src="../icons/google.png" id="google">
                <span class="tooltiptext">Google Pay</span>
            </a>
        </div>
        <div class="copyRight">
            <br><a href="#">Datenschutz | </a>
            <a href="#">AGB | </a>
            <a href="../impressum/impressum.html">Impressum | </a>
            <a href="../contact/contact.html">Kontakt | </a>
            <a href="#">Newsletter abonnieren</a>
            <br>
            <p>Copyright 2023 by michellekoenigseder</p>
        </div>
    </footer>

</body>
<script src="../diy/diy.js"></script>
<script src="../allg/allg.js"></script>

</html>