<!DOCTYPE html>
<html>

<head>
    <title>
        SpringCraft & Co.
    </title>
    <meta name="description" content="Frühlingshafte Bastelideen und DIYs für jung und alt">
    <meta name="viewport" content="width=device,install-scale=1.0">
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png">
    <link rel="stylesheet" href="../index/index.css">
    <link rel="stylesheet" href="../allg/allg.css">

</head>

<body>
    <div class="header">
        <header>
            <img src="../icons/Logo.png">
            <p>SpringCraft & Co.</p>
        </header>
        <nav>
            <span id="menu">&#9776;</span>
            <div class="profile_shop">
                <span id="shop_bag"><img src="../icons/shopping-bag.png" id="shop_bag_icon"></span>
                <span id="profile"><img src="../icons/account.png" id="profile_icon"></span>
            </div>
        </nav>
    </div>

    <main>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
            <a href="../index/index.html" id="home">HOME</a>
            <a href="#" id="profile">MEIN KONTO</a>
            <a href="../shop/Shop.html" id="shop">SHOP</a>
            <a href="../diy/diy.html" id="diy">DIY</a>
            <a href="../contact/contact.html" id="contact">KONTAKT</a>
        </div>
        <div id="myProfileSidenav" class="profileSidenav">
            <a href="javascript:void(0)" class="closebtn" id="closeProfileBtn">&times;</a>
            <h3>Profil</h3>
            <div id="profileData">
                <a>aktuell sind Sie nicht eingeloggt.</a>
            </div>
            <button id="loginBtn">Anmelden</button>
        </div>
        <div class="login" id="login">
            <div class="loginInput">
                <h3>Anmeldung</h3>
                <a href="javascript:void(0)" class="closebtn" id="closeLoginBtn">&times;</a>
                <div class="userInput">
                    <label>Username: </label><input type="text"> <br><br>
                    <label>Password: </label><input type="password">
                </div>
                <button>anmelden</button>
            </div>
        </div>
        <div id="myShopSidenav" class="shopSidenav">
            <a href="javascript:void(0)" class="closebtn" id="closeShopBtn">&times;</a>
            <h3>Warenkorb</h3>
            <a>Es befinden sich momentan keine Produkte im Warenkorb.</a>
        </div>

        <section>
            <div class="carousel">
                <div class="image-container">
                    <div class="image-wrapper">
                        <!--Quelle: Private Bilder-->
                        <img src="../Bilder/karusell/16.jpg">
                        <img src="../Bilder/karusell/26.jpg">
                        <img src="../Bilder/karusell/6.jpg">
                        <img src="../Bilder/karusell/12.jpg">
                        <img src="../Bilder/karusell/7.jpg">
                        <img src="../Bilder/karusell/20.jpg">
                        <img src="../Bilder/karusell/1.jpg">
                        <img src="../Bilder/karusell/2.jpg">
                        <img src="../Bilder/karusell/3.jpg">
                        <img src="../Bilder/karusell/4.jpg">
                        <img src="../Bilder/karusell/8.jpg">
                        <img src="../Bilder/karusell/10.jpg">
                    </div>
                </div>
            </div>

            <h1>Willkommen bei SpringCraft & Co.</h1>
            <h3>Ihrem kreativen Zuhause für frühlingshafte DIYs und Dekorationen!</h3>
            <!-- About -->
            <p>Bei "SpringCraft & Co." teilen wir eine Leidenschaft für Kreativität und die Freude daran, Ihr Zuhause in
                ein frisches und inspirierendes Paradies zu verwandeln. Unser Online-Shop und unser kleiner
                Einkaufsladen bieten eine breite Palette von Produkten, um Ihre kreativen Ideen Wirklichkeit werden zu
                lassen.</p>
            <p>Unser Sortiment umfasst Blumenarrangements, Bastelbedarf, saisonale Dekorationen und vieles mehr. Egal,
                ob Sie bereits ein erfahrener DIY-Experte sind oder gerade erst Ihre kreative Reise beginnen, bei
                "SpringCraft & Co." finden Sie die passenden Materialien und Inspiration, um einzigartige Dekorationen
                zu erschaffen.</p>
            <p>Das Besondere an "SpringCraft & Co." ist, dass wir nicht nur Produkte anbieten, sondern auch eine Fülle
                von DIY-Ideen und Anleitungen zur Verfügung stellen. Unser Blog und unsere Tutorials sind voller Tipps,
                Tricks und Inspirationen, um Ihre Kreativität zu entfachen. Wir glauben fest daran, dass jeder die
                Fähigkeit hat, wunderschöne, handgefertigte Dekorationen herzustellen.</p>
            <video id="vid" width="100%" autoplay muted loop>
                <!--
                    Quelle: 
                        https://www.shutterstock.com/de/video/clip-1067870087-close-honey-bees-flying-around-purple-flowers
                        https://www.shutterstock.com/de/video/clip-1045183669-cherry-branch-flowers-spring-bloom-beautiful-japanese
                        https://www.shutterstock.com/de/video/clip-1060516912-beautiful-sunlight-forest
                        https://www.shutterstock.com/de/video/clip-1056509465-close-up-beautiful-blooming-lavender-swaying-wind-sunset
                -->
                <source src="../Bilder/videos/trailer.mp4" type="video/mp4">
                Dein Browser unterstützt das Videoformat nicht.
            </video>
            <p>Und für diejenigen, die lieber vor Ort stöbern und einkaufen, laden wir Sie herzlich in unseren kleinen
                Laden ein. Dort können Sie unsere Produkte hautnah erleben und sich von unserer Leidenschaft für DIY und
                Dekoration inspirieren lassen.</p>
            <p>Bei "SpringCraft & Co." legen wir großen Wert auf Qualität und Kundenzufriedenheit. Unsere Produkte sind
                sorgfältig ausgewählt, um sicherzustellen, dass Sie nur das Beste für Ihre Projekte erhalten. Unser
                Kundenservice-Team steht Ihnen jederzeit zur Verfügung, um Fragen zu beantworten und Unterstützung zu
                bieten.</p>
            <p>Der Frühling ist die Zeit des Neuanfangs, der Farben und der Frische. Lassen Sie sich von "SpringCraft &
                Co." inspirieren, um Ihr Zuhause in ein frühlingshaftes Traumreich zu verwandeln. Wir freuen uns darauf,
                Sie auf Ihrer kreativen Reise zu begleiten und sind gespannt auf die wunderbaren Projekte, die Sie
                erschaffen werden. </p>
            <h3>Willkommen im Frühling – Willkommen bei "SpringCraft & Co."!</h3>
        </section>
    </main>

    <div class="fixed" id="cookies">
        COOKIES hier akzeptieren
        <button id="cookiesbtn">weiter</button>
    </div>

    <footer id="footer">
        <div class="payments">
            <a href="https://paypal.com" class="tooltip">
                <img src="../icons/paypal.png" id="paypal">
                <span class="tooltiptext">Paypal</span>
            </a>
            <a href="https://www.klarna.com/de/" class="tooltip">
                <img src="../icons/klarna.png" id="klarna">
                <span class="tooltiptext">Klarna</span>
            </a>
            <a href="https://www.mastercard.de/de-de.html" class="tooltip">
                <img src="../icons/mastercard.png" id="mastercard">
                <span class="tooltiptext">Mastercard</span>
            </a>
            <a href="https://www.visa.de/" class="tooltip">
                <img src="../icons/visa.png" id="visa">
                <span class="tooltiptext">Visa Card</span>
            </a>
            <a href="https://www.apple.com/de/" class="tooltip">
                <img src="../icons/apple.png" id="apple">
                <span class="tooltiptext">Apple Pay</span>
            </a>
            <a href="https://pay.google.com/" class="tooltip">
                <img src="../icons/google.png" id="google">
                <span class="tooltiptext">Google Pay</span>
            </a>
        </div>
        <div class="copyRight">
            <br><a href="#">Datenschutz | </a>
            <a href="#">AGB | </a>
            <a href="../impressum/impressum.html">Impressum | </a>
            <a href="../contact/contact.html">Kontakt | </a>
            <a href="#">Newsletter abonnieren</a>
            <br>
            <p>Copyright 2023 by michellekoenigseder</p>
        </div>
    </footer>

</body>
<script src="../index/index.js"></script>
<script src="../allg/allg.js"></script>

</html>